<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn_str" connectionString="data source=.;initial catalog=vamshi;integrated security=true"/>
  </connectionStrings>
  <appSettings>
    <add key="XMLURL" value="C:\Users\mahe\Desktop\Vamshi\Server\labMonitoring\XML\"/>
    <add key ="ImageURL" value="C:\Users\mahe\Desktop\Vamshi\Server\labMonitoring\Images\"/>
  </appSettings>
</configuration>
